<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
 <display-name>ImmunizationReminder</display-name>
  <servlet>
    <servlet-name>ImmunizationReminder</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImmunizationReminder</servlet-name>
    <url-pattern>*.htm</url-pattern>
  </servlet-mapping>

<servlet>
  <servlet-name>dwr-invoker</servlet-name>
  <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
  <init-param>
     <param-name>debug</param-name>
     <param-value>true</param-value>
  </init-param>
</servlet>
  <servlet>
    <servlet-name>starterServlet</servlet-name>
    <servlet-class>org.ird.immunizationreminder.web.servlet.StarterServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>starterServlet</servlet-name>
    <url-pattern>/starterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>downloadLogServlet</servlet-name>
    <servlet-class>org.ird.immunizationreminder.web.servlet.DownloadLogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>downloadLogServlet</servlet-name>
    <url-pattern>/downloadLog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CSVServlet</servlet-name>
    <servlet-class>org.ird.immunizationreminder.web.servlet.CSVServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CSVServlet</servlet-name>
    <url-pattern>/csv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExportServlet</servlet-name>
    <servlet-class>org.ird.immunizationreminder.web.servlet.ExportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportServlet</servlet-name>
    <url-pattern>/export</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>downloadCsvUploadedServlet</servlet-name>
    <servlet-class>org.ird.immunizationreminder.web.servlet.DownloadCsvUploadedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>downloadCsvUploadedServlet</servlet-name>
    <url-pattern>/downloadCsvUploaded</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>org.ird.immunizationreminder.web.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>uploadDataServlet</servlet-name>
    <servlet-class>org.ird.immunizationreminder.web.servlet.UploadDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadDataServlet</servlet-name>
    <url-pattern>/uploadData</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>resetUserPwdServlet</servlet-name>
    <servlet-class>org.ird.immunizationreminder.web.servlet.ResetUserPwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>resetUserPwdServlet</servlet-name>
    <url-pattern>/resetUserPwd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteUserServlet</servlet-name>
    <servlet-class>org.ird.immunizationreminder.web.servlet.DeleteUserServlet</servlet-class>
  </servlet>
    <servlet-mapping>
    <servlet-name>deleteUserServlet</servlet-name>
    <url-pattern>/deleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
		<servlet-name>imrsMobileServlet</servlet-name>
		<servlet-class>org.ird.immunizationreminder.web.mobile.IMRSMobileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>imrsMobileServlet</servlet-name>
		<url-pattern>/imrsmobile</url-pattern>
	</servlet-mapping>
<servlet-mapping>
  <servlet-name>dwr-invoker</servlet-name>
  <url-pattern>/dwr/*</url-pattern>
</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<jsp-config>
	    <taglib>
	      <taglib-uri>/spring</taglib-uri>
	      <taglib-location>/WEB-INF/tld/spring-form.tld</taglib-location>
	    </taglib>
	    <taglib>
	      <taglib-uri>/page</taglib-uri>
	      <taglib-location>/WEB-INF/tld/taglib139.tld</taglib-location>
	    </taglib>
  	</jsp-config>
  	<listener>
    <listener-class>
      org.apache.commons.fileupload.servlet.FileCleanerCleanup
    </listener-class>
  </listener>
  	
</web-app>